@font-face {
    font-family: "Chalkduster";
    src: url('Chalkduster.ttf');
}

.label {
    -fx-control-inner-background: #203112;
    -fx-font-family: "Chalkduster";
    -fx-prompt-text-fill: #ffffff36;
}

.button {
    -fx-background-color: none;
    -fx-font-family: "Chalkduster";
    -fx-border-color: #203112;
    -fx-border-width: 5;
    -fx-text-fill: #203112;
    -fx-border-radius: 2;
    -fx-font-size: 16;
}

.button:hover, .button:active, .buttton:disabled {
    -fx-opacity: 0.5;
    -fx-font-size: 16;
}