.textArea,
.textField {
    -fx-control-inner-background: #203112;
    -fx-border-color: rgb(138, 76, 31);
    -fx-text-fill: #ffffff;
    -fx-border-width: 5;
    -fx-font-family: "chalkduster";
    -fx-prompt-text-fill: #ffffff36;
}

.textArea {
    -fx-font-size: 15;
}

.textField {
    -fx-font-size: 25;
}