.button {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 5;
}

.pane {
    -fx-background-color: rgba(172, 170, 170, 0.65);
}

.button:disabled .hintButton:disabled{
    -fx-opacity: 0.5;
}