@font-face {
    font-family: "Chalkduster";
    src: url('Chalkduster.ttf');
}

@font-face {
    font-family: "Courier New";
    src: url('Courier_New_Bold.ttf');
}

.button {
    -fx-background-color: none;
    -fx-font-family: "Chalkduster";
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-font-size: 20px;
}

.button:hover, .button:disabled {
    -fx-background-color: white;
    -fx-text-fill: #203112;
    -fx-opacity: 0.2;
}

.chalkduster {
    -fx-font-family: "Chalkduster";
}

.couier {
    -fx-font-family: "Courier New";
}
