.roomLabel {
    -fx-font-size: 15px;
    -fx-font-family: "palatino";
    -fx-background-color: white;
    -fx-text-fill: black;
}

.backButton {
    -fx-background-color: white;
    -fx-opacity: 0.8;
    -fx-border-color: black;
    -fx-border-width: 2;
}

.backButton:hover {
   -fx-opacity: 0.2;
}