.roomLabel {
    -fx-font-size: 15px;
    -fx-font-family: "palatino";
    -fx-background-color: white;
    -fx-text-fill: black;
}

.backButton {
    -fx-background-color: none;
}

.backButton:hover {
   -fx-opacity: 0.5;
}